* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lora', serif;
} 

main {
    justify-content: center;
    padding-bottom: 300px;
}

.main-child {
    /* top: 0px; */
    padding-bottom: 400px;
}

.content {
    /* text-align: center; */
    font-size: 20px;
    padding: 100px;
    /* top: 0px; */
    /* background: rgb(214, 214, 214); */
}

/* 
.narration {
    padding-bottom: 100px;
} */

.speech {
    padding-top: 200px;
}

/* .content-2 {
    padding: 50px;
} */

.footer-child {
    font-size: 17px;
    /* text-align: center; */
    color: #555;
  }